body {
    /*background-image: url("../images/backgrounds/brown-background.jpg");*/
    background: #fffbf4;
 
}
#masthead {
	background: beige;
	margin: 0 0 50px;
    top: 0px;
	z-index: 99;
	color: beige;
	overflow: auto;
	border-bottom: 5px solid white;
    border-top: 5px solid white;
	position: fixed;
	width: 100%;
}

#loginbox {
  margin-top: 175px;
  background: none;
}


#sign-in {
    color: #ffac00;
    font-size: 25px;
    font-weight: bold;
}

#logo {
    margin-top: 25px;
    padding-bottom: 20px;
    height: 75px;
}

#page2box {
    border: 5px white solid;
    border-radius: 0px;
    background-image: url("../public/images/backgrounds/craft-beer.jpg");
    background-size: cover;
}

#footer {
   color: #ffffff;
}

#main-bio {
    color: black;
    border:1px solid black;
    border-radius: 5px;
    padding: 15px;
    background-color:   #fcfbf9;
    background-clip: inherit;
    margin-left: 10px;
    padding-bottom: 162px
}

#beer-table {
    color: white;
}

#dropdown{
    color: black;
}

.navbar-default {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
    position: relative;
}

#btn-signup {
        background: #ffac00;
        margin-left: 110px;
}

#table-cat{
    background: #ffac00;
    border-radius: 5px;
}

#bio-info {
    text-align: center;
}

#dropdown{
    color: black;
}

#tab-item{
    color: black
}

.table-bordered{
    border-radius: 4px;
}

#state-scroll{
    height: 70vh;
    overflow: auto;
}

.stick {
    position: fixed;
    top: 0;
}

#search{
    margin-right: 300px;
}